In [2]:
import numpy as np
import pandas as pd

# Load dataset from local

In [3]:
qna_data = "mk_physics_qna_train.csv"
df = pd.read_csv(qna_data)

In [4]:
df

,Question,Answer
0,Question 1: What is the title of the book bein...,"Answer 1: The title of the book is ""Mind over ..."
1,Question 2: What are some of the future techno...,Answer 2: Some of the future technologies ment...
2,Question 3: Who did the author thank for their...,Answer 3: The author thanked their editors Rog...
3,Question 4: What is the overall theme of the b...,Answer 4: The overall theme of the book is the...
4,Question: Who did the author encourage to take...,"Answer: The author encouraged ""more than three..."
...,...,...
4997,3. What is the fate of humans in the series of...,"Answer: According to the text, humans are redu..."
4998,1. What drove the expansion of the human brain?,A. Men's ability to strategize and lead tribes...
4999,2. Why did females choose males with large bra...,A. To outwit other males and become leaders of...
5000,Q: What drove the expansion of the human brain?,A: B. Women's choice of men with large brains.
5001,Q: Why did females choose males with large bra...,A: B. To outwit other males and become leaders...

### check for any empty questions or answers

In [4]:
df['Answer'][df['Answer'] == ""]

Series([], Name: Answer, dtype: object)

In [5]:
df['Question'][df['Question'] == ""]

Series([], Name: Question, dtype: object)

In [6]:
np.unique([q[:2] for q in df['Question'].values])

array(['1.', '10', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '?',
       'A ', 'An', 'Ne', 'Q ', 'Q.', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q:',
       'QU', 'Qu', 'le', 'pe', 'te', 'to', 'wr'], dtype='<U2')

In [7]:
us = np.array(['1.', '10', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.',
        'Q ', 'Q.', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q:',
       'QU', 'Qu'])

In [8]:
us

array(['1.', '10', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', 'Q ',
       'Q.', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q:', 'QU', 'Qu'], dtype='<U2')

In [9]:
bad_questions = [(ix, q) for ix, q in enumerate(df['Question'].values) if q[:2] not in us]
len(bad_questions), bad_questions

(17,
 [(1007, 'text?'),
  (1253, 'wrote Materialism publication?'),
  (1844, 'Answer  voice?'),
  (1982,
   'Answer  in Ramanwhere we least expected places where we least expectably?'),
  (2841, '?'),
  (3150, 'ley?'),
  (3207,
   'Answer: To his disappointment, he found that the sum of the interior angles was exactly 180 degrees (plus or minus 15 minutes). This indicates that Gauss was not able to conclusively prove Euclid wrong with his current measurements.  4. How did mathematicians like Lobachevski and Bolyai contribute to non-Euclidean mathematics?'),
  (3219,
   'Answer: Question 1: What is the title of the paper written by Paul Ehrenfest in 1917?'),
  (3287,
   'Answer: "perfect symmeymmetrical symmetries to Beginningtime\'perfectSymmetasymmet?'),
  (3293,
   "A the beginning of the origin of the origin of the origin of the origin of the origin of the origin of the origin of the origin of the origin of the origin of the universe'the existence of the beginnocosmos the probability of the probability of the probability of the probability of the probability of the probability of the originsight?"),
  (3783,
   'Answer 2: Physicists calculated that if they could ignite a big bang, people immediately started to wonder what would happen if you put lots of energy in one space in the lab-shot lots of cannons together. Could you concentrate enough energy to set off a mini big bang?'),
  (3825,
   'Answer  in the near the laws of the laws of the laws of the universe?'),
  (4055, 'Answer  at the National Ignition?'),
  (4106, 'perspective?'),
  (4294, 'to the article?'),
  (4457, 'personality to numbers?'),
  (4705,
   'Next question: Why was the computer system HAL 9000 in the movie 2001 an example of a sentient computer capable of conversing easily with humans?')])

In [10]:
bad_questions_ixs = [ix for ix, bq in bad_questions]
bad_questions_ixs

[1007,
 1253,
 1844,
 1982,
 2841,
 3150,
 3207,
 3219,
 3287,
 3293,
 3783,
 3825,
 4055,
 4106,
 4294,
 4457,
 4705]

In [11]:
df.iloc[bad_questions_ixs]

,Question,Answer
1007,text?,text
1253,wrote Materialism publication?,s
1844,Answer voice?,AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnsw...
1982,Answer in Ramanwhere we least expected places...,Answer in Ram
2841,?,Answer:
3150,ley?,ley and what did
3207,"Answer: To his disappointment, he found that t...",Answer: Mathematicians like Nikolaus I. Lobach...
3219,Answer: Question 1: What is the title of the p...,Answer: The title of the paper written by Paul...
3287,"Answer: ""perfect symmeymmetrical symmetries to...",Answer the origin of the beginning of the beg...
3293,A the beginning of the origin of the origin of...,Athe possibility of the probability of the pro...
3783,Answer 2: Physicists calculated that if they c...,Question Answer Pair
3825,Answer in the near the laws of the laws of th...,AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnsw...
4055,Answer at the National Ignition?,Answer at the National Ign
4106,perspective?,Answer:Answer:Answer:Answer:
4294,to the article?,to
4457,personality to numbers?,"Answer: According to the passage, reducing som..."
4705,Next question: Why was the computer system HAL...,Answer: The movie 2001 explored the theme of a...

### drop rows with bad questions

In [12]:
df = df.drop(index=bad_questions_ixs)

In [13]:
df

,Question,Answer
0,Question 1: What is the title of the book bein...,"Answer 1: The title of the book is ""Mind over ..."
1,Question 2: What are some of the future techno...,Answer 2: Some of the future technologies ment...
2,Question 3: Who did the author thank for their...,Answer 3: The author thanked their editors Rog...
3,Question 4: What is the overall theme of the b...,Answer 4: The overall theme of the book is the...
4,Question: Who did the author encourage to take...,"Answer: The author encouraged ""more than three..."
...,...,...
4997,3. What is the fate of humans in the series of...,"Answer: According to the text, humans are redu..."
4998,1. What drove the expansion of the human brain?,A. Men's ability to strategize and lead tribes...
4999,2. Why did females choose males with large bra...,A. To outwit other males and become leaders of...
5000,Q: What drove the expansion of the human brain?,A: B. Women's choice of men with large brains.
5001,Q: Why did females choose males with large bra...,A: B. To outwit other males and become leaders...

### check for bad answers

In [14]:
np.unique([q[:3] for q in df['Answer'].values])

array(['(A)', '(An', '(a)', '* A', '1.1', '2. ', '2.1', '3.1', '4. ',
       '4.1', '5.1', '6. ', 'A', 'A 1', 'A 2', 'A 3', 'A) ', 'A. ', 'A1.',
       'A1:', 'A2.', 'A2:', 'A3.', 'A3:', 'A4.', 'A4:', 'A5.', 'A5:',
       'A: ', 'AAA', 'ANS', 'Ans', 'B. ', 'Bra', 'C. ', 'D. ', 'E. ',
       'Qus', 'Thi', 'a) ', 'ans', 'b) ', 'cut', 'twi'], dtype='<U3')

In [15]:
ua = np.array([  
                'A.', 'A1:', 'A2:', 'A3:', 'A4:', 'A5:', 'A:', 'a)', 'b)'])

uua = np.array([
    '(Answer)', 'answer :', '* Answer:', 'Answer:', 'ANSWER: ', 'Answer :', 'Answers: ',
    'Answer 1:', 'Answer 2:', 'Answer 3:', 'Answer 4:', 'Answer 5:', 'Answer 6:', 'Answer 7:', 'Answer 14: ', 'Answer 20: ',
    'ANSWER 1: ', 'ANSWER 2: ', 'ANSWER 3: ',
    'Ans: ',
    'A 1:', 'A 2:', 'A 3:',
    'A1. ', 'A1. ',
    'A) ', '(a) ',
    '(A)', '(B)', '(C)',
    '(c)', '(b)', '(c)',
    'a)', 'b)', 
    'A: ', 'A. ', 
    'A1:', 'A2:', 'A3:', 'A4:', 'A5:',
    'A2.', 'A3.', 'A4.', 'A5.',
    '1. ', '2. ', '3. ','4. ', '6. ',
    '5.1 ', '2.1 ',
    'A. ', 'B. ', 'C. ', 'D. ', 'E. ',
])

In [16]:
bad_answers = []

for ix, an in enumerate(df['Answer'].values):
    
    found = False
    
    for u in uua:
        if an.startswith(u):
            found = True
    if not found:
        bad_answers.append((ix, an))

len(bad_answers), bad_answers

(39,
 [(115,
   'Brain Brain Brain Brain Brain Big Brain Big Brain Big Brain Big Brain Big Brain Big Brain Big Bra'),
  (693, '1.1 It means a machine that can produce fusion.'),
  (695,
   '3.1 Physicists will find their holy grail: room temperature superconductors.'),
  (696,
   '4.1 They will hover above the ground and travel at several hundred miles per hour.'),
  (726, 'AnswerAnswerAnswerAnsweringertipgimgertips'),
  (855, 'A'),
  (874, 'twins twins twins twins twins twins twinsQuestion Answer Pair 1:'),
  (913, 'Answer  the'),
  (1090,
   'cut on another sheet on the cut and find itself on the cut and finds itself on the cut and finds itself, cut and finds itself on the cut and finds'),
  (1130, 'AAAAAAAAAA'),
  (1283, 'Qustion - Answer pairs'),
  (1284,
   'Answer - To understand how a 4 dimensional hypercube can be unraveled into a series of 3 dimensional cubes, and to examine the shadows cast by these cubes on the third dimension.'),
  (1285, 'Answer - A cross, consisting of six squares.'),
  (1286, 'Answer - As a cross, consisting of six squares.'),
  (1287,
   'Answer - The cubes of a tesseract.5.Who depicted in what is the image depiction - What does the artwork of Christus Salvador Dalikeystler reference picture depicted by depicted depicted depicted depicted depicted depicted depicted depicted on what is a depictured in which artist depicted depicted depicted depicted depicted depicted depicted depicted depicted depiction depictor what does the artist Salvador'),
  (1828, 'AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswer'),
  (1885, 'AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswer'),
  (2249, 'Answer  AnswerAnswer'),
  (2693,
   'Answer Key:1. The energy of chemical reactions is measured in electron volts.2. Humans have increased their power available to them by a factor of a million due to their manipulation of energy levels beyond those of animals.3. Humans have only manipulated energy levels beyond those of animals for 0.01% of their existence.4. Within just a few centuries, vast amounts of energy have been unleashed via the electromagnetic and nuclear forces.'),
  (2991,
   'A 1 : The AC spends eternity collecting data and contemplating the final question.'),
  (3000,
   'Answer 12: The author believes that experimentation is essential in science, as it is the only way to test theories against reality and determine their accuracy.'),
  (3121, 'AnswerAnswerAnswerAnswerAnswer  AnswerAnswer'),
  (3278, 'AnswerAnswerAnswerAnswerAnswerAnswerAnswer'),
  (3304, 'AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswer'),
  (3322,
   "Answers:1. Teleportation could change the course of civilization and alter the destiny of nations. It could irreversibly alter the rules of warfare by enabling armies to transport troops behind enemy lines or simply capturing enemy leadership through teleportation. Today's transportation systems, including cars, ships, airplanes, and railroads, would become obsolete as we could teleport ourselves to work and our goods to market. Vacations would become effortless as we could teleport ourselves to our destination.2. Teleportation has been mentioned in religious texts such as the Bible, where spirits whisk individuals away. This passage from Acts in the New Testament seems to suggest the teleportation of Philip."),
  (3454,
   'Answers:B. The Electron Pump, which produces unlimited energy for free.'),
  (3773, 'Ans. A tesseract, which is an unraveled four-dimensional cube.'),
  (3774, 'Ans. Marcel Duchamp.'),
  (3775, 'Ans. They live in the fourth dimension.'),
  (3776,
   'Ans. The Invisible Man, The Planner Story, and The Wonderful Visit.'),
  (3777, 'Ans. The Won\xadderful Visit.'),
  (3813,
   'Answer  in the year  byAnswerAnswerAnswerAnswerAnswerAnswer  in the early in the end.'),
  (3886, 'AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswer'),
  (3945, 'AnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswerAnswer'),
  (4089, 'Answer 1939393939393939393939'),
  (4423,
   'ANSWER - According to the text, the CEO makes final decisions by gathering and sifting through various sources of information before selecting an appropriate course of action. While some decisions are made intuitively, others involve more complex processing of multiple pieces of information from different sources.'),
  (4546,
   "This question is relevant to the input text because it delves into the idea of manipulating memories and consciousness through technology. The author suggests that is anonymous response could potentially transformative text suggests that weaker're are several possibilities of the text mentions of the text posediscnarrangstextrapist answer will be"),
  (4738,
   'Answer n: The children who exhibited delayed gratification scored higher on higher-paying jobs.'),
  (4827, 'Answer')])

In [17]:
bad_answers_ixs = [ix for ix, bq in bad_answers]
np.array(bad_answers_ixs)

array([ 115,  693,  695,  696,  726,  855,  874,  913, 1090, 1130, 1283,
       1284, 1285, 1286, 1287, 1828, 1885, 2249, 2693, 2991, 3000, 3121,
       3278, 3304, 3322, 3454, 3773, 3774, 3775, 3776, 3777, 3813, 3886,
       3945, 4089, 4423, 4546, 4738, 4827])

### drop rows with bad questions

In [18]:
df = df.drop(index=bad_answers_ixs)

In [19]:
len(df)

4946

### replace uua with 'Answer: '

In [20]:
uua

array(['(Answer)', 'answer :', '* Answer:', 'Answer:', 'ANSWER: ',
       'Answer :', 'Answers: ', 'Answer 1:', 'Answer 2:', 'Answer 3:',
       'Answer 4:', 'Answer 5:', 'Answer 6:', 'Answer 7:', 'Answer 14: ',
       'Answer 20: ', 'ANSWER 1: ', 'ANSWER 2: ', 'ANSWER 3: ', 'Ans: ',
       'A 1:', 'A 2:', 'A 3:', 'A1. ', 'A1. ', 'A) ', '(a) ', '(A)',
       '(B)', '(C)', '(c)', '(b)', '(c)', 'a)', 'b)', 'A: ', 'A. ', 'A1:',
       'A2:', 'A3:', 'A4:', 'A5:', 'A2.', 'A3.', 'A4.', 'A5.', '1. ',
       '2. ', '3. ', '4. ', '6. ', '5.1 ', '2.1 ', 'A. ', 'B. ', 'C. ',
       'D. ', 'E. '], dtype='<U11')

In [21]:
df.columns

Index(['Question', 'Answer'], dtype='object')

In [25]:
df['Answer'].iloc[0] = 'Answer: The title of the book is "Mind over Matter: The Future of AI".'

In [26]:
df['Answer'].iloc[0]

'Answer: The title of the book is "Mind over Matter: The Future of AI".'

In [27]:

for ix in range(len(df)):
    ans_str = df['Answer'].iloc[ix]

    for u in uua:
        if ans_str.startswith(u):
            ans_str = ans_str.replace(u, "Answer: ")
    
    df['Answer'].iloc[ix] = ans_str

In [28]:
df

,Question,Answer
0,Question 1: What is the title of the book bein...,"Answer: The title of the book is ""Mind over M..."
1,Question 2: What are some of the future techno...,Answer: Some of the future technologies menti...
2,Question 3: Who did the author thank for their...,Answer: The author thanked their editors Roge...
3,Question 4: What is the overall theme of the b...,Answer: The overall theme of the book is the ...
4,Question: Who did the author encourage to take...,"Answer: The author encouraged ""more than thre..."
...,...,...
4997,3. What is the fate of humans in the series of...,"Answer: According to the text, humans are red..."
4998,1. What drove the expansion of the human brain?,Answer: Men's ability to strategize and lead t...
4999,2. Why did females choose males with large bra...,Answer: To outwit other males and become leade...
5000,Q: What drove the expansion of the human brain?,Answer: B. Women's choice of men with large br...
5001,Q: Why did females choose males with large bra...,Answer: B. To outwit other males and become le...

In [119]:
df.iloc[2203].values

array(['Question 2: Why are physicists excited about the ten-dimensional theory?',
       'Answer:  Physicists are excited because it is possible to obtain solutions that are tantalizingly close to the Standard Model, and thus incorporate a large body of modern mathematics that previously seemed quite useless.',
       'Question 2: Why are physicists excited about the ten-dimensional theory?\n\nAnswer:  Physicists are excited because it is possible to obtain solutions that are tantalizingly close to the Standard Model, and thus incorporate a large body of modern mathematics that previously seemed quite useless.'],
      dtype=object)

In [30]:
len(df)

4946

In [32]:
# Concatenate 'Question' and 'Answer' columns into a new column 'text'
df['text'] = df['Question'] + '\n\n' + df['Answer']

In [7]:
rand_ix = np.random.randint(len(df))
print(df['text'].loc[rand_ix])

NameError: name 'np' is not defined

In [128]:
rand_ix

1730

In [83]:
df

,Question,Answer,text
0,Question 1: What is the title of the book bein...,"Answer: The title of the book is ""Mind over M...",Question 1: What is the title of the book bein...
1,Question 2: What are some of the future techno...,Answer: Some of the future technologies menti...,Question 2: What are some of the future techno...
2,Question 3: Who did the author thank for their...,Answer: The author thanked their editors Roge...,Question 3: Who did the author thank for their...
3,Question 4: What is the overall theme of the b...,Answer: The overall theme of the book is the ...,Question 4: What is the overall theme of the b...
4,Question: Who did the author encourage to take...,"Answer: The author encouraged ""more than thre...",Question: Who did the author encourage to take...
...,...,...,...
4997,3. What is the fate of humans in the series of...,"Answer: According to the text, humans are red...",3. What is the fate of humans in the series of...
4998,1. What drove the expansion of the human brain?,Answer: Men's ability to strategize and lead t...,1. What drove the expansion of the human brain...
4999,2. Why did females choose males with large bra...,Answer: To outwit other males and become leade...,2. Why did females choose males with large bra...
5000,Q: What drove the expansion of the human brain?,Answer: B. Women's choice of men with large br...,Q: What drove the expansion of the human brain...
5001,Q: Why did females choose males with large bra...,Answer: B. To outwit other males and become le...,Q: Why did females choose males with large bra...

### check Q and A lengths

In [73]:
for ix in range(len(df)):
    ans_str = df['text'].iloc[ix]
    if len(ans_str) > 1024:
        print(len(ans_str))

In [78]:
# df.to_csv("train_QNA_text_format.csv", index=False)

In [75]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv("train_QNA_text_format.csv")
df

,Question,Answer,text
0,Question 1: What is the title of the book bein...,"Answer: The title of the book is ""Mind over M...",Question 1: What is the title of the book bein...
1,Question 2: What are some of the future techno...,Answer: Some of the future technologies menti...,Question 2: What are some of the future techno...
2,Question 3: Who did the author thank for their...,Answer: The author thanked their editors Roge...,Question 3: Who did the author thank for their...
3,Question 4: What is the overall theme of the b...,Answer: The overall theme of the book is the ...,Question 4: What is the overall theme of the b...
4,Question: Who did the author encourage to take...,"Answer: The author encouraged ""more than thre...",Question: Who did the author encourage to take...
...,...,...,...
4941,3. What is the fate of humans in the series of...,"Answer: According to the text, humans are red...",3. What is the fate of humans in the series of...
4942,1. What drove the expansion of the human brain?,Answer: Men's ability to strategize and lead t...,1. What drove the expansion of the human brain...
4943,2. Why did females choose males with large bra...,Answer: To outwit other males and become leade...,2. Why did females choose males with large bra...
4944,Q: What drove the expansion of the human brain?,Answer: B. Women's choice of men with large br...,Q: What drove the expansion of the human brain...
4945,Q: Why did females choose males with large bra...,Answer: B. To outwit other males and become le...,Q: Why did females choose males with large bra...

In [120]:
rand_ix = np.random.randint(len(df))
print(rand_ix)
print(df['text'].loc[rand_ix])

99
2. Who is the director of GlobalSecurity.org?

Answer:  Jena Pincott

In [90]:
import pandas as pd
import numpy as np

bdf = pd.read_csv("train_MK_books.csv")
bdf

                                                   text
0     DR. MICHIO KAMI \n\nPROFESSOR OF THEORETICAL P...
1     Includes bibliographical references. \n\n1. Ne...
2     10 THE ARTIFICIAL MIND AND SILICON CONSCIOUSNE...
3     Peter Doherty, Nobel laureate, St. Jude Childr...
4     Marcia Bartusiak, author of Einstein’s Unfinis...
...                                                 ...
4207  2006. \n\nGladwell, Malcolm. Outliers: The Sto...
4208  Nelson, Kevin. The Spiritual Doorway in the Br...
4209  Rose, Steven. The Future of the Brain: The Pro...
4210  4.1 The Laboratory of Dr. Miguel Nicolelis, Du...
4211  Physics of the Future \nPhysics of the Impossi...

[4212 rows x 1 columns]

In [85]:
rand_ix = np.random.randint(len(bdf))
print(rand_ix)
print(bdf['text'].loc[rand_ix])

2737
within Wikipedia. Watson could then analyze this mountain of
information on live TV.

Watson is just the latest generation of “expert systems,” software
programs that use formal logic to access vast amounts of specialized
information. (When you talk on the phone to a machine that gives you a
menu of choices, this is a primitive expert system.) Expert systems will
continue to evolve, making our lives more convenient and efficient.

For example, engineers are currently working to create a “robo-doc,”
which will appear on your wristwatch or wall screen and give you basic
medical advice with 99 percent accuracy almost for free. You’d talk to it
about your symptoms, and it would access the databanks of the world’s
leading medical centers for the latest scientific information. This will
reduce unnecessary visits to the doctor, eliminate costly false alarms,
and make it effortless to have regular conversations with a doctor.